body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: grey;
    color: white;
    min-height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 10px;
    border: 1px dotted black;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section {
    padding: 10px;
    flex: 1;
}

.datosTitulos {
    display: block;
    border-bottom: 1px black solid;
}

.divBox {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.divInpt {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
}

input:focus {
    outline: 0;
}

.dError {
    color: red;
    font-size: small;
}

.letterCount {
    font-size: small;
}

textarea {
    outline: 0;
}

img {
    max-width: 2%;
}

.letterCount {
    align-self: flex-end;
}

#canal {
    width: 100%;
}

h4 {
    text-decoration: underline;
}